
!! A simple implementation to enable tacacs+ on cisco switches
!
aaa new-model
!
{% for IP in TACACS_IP %}
tacacs server {{ IP }} -SRV
address ipv4 {{ IP }}
key {{ SECRET }}
{% endfor %}
!
aaa group server tacacs+ TACACS_GROUP
{% for IP in TACACS_IP %}
server name {{ IP }} -SRV
{% endfor %}
!
aaa authentication login SSH group TACACS_GROUP local
aaa authentication enable SSH group tacacs+ enable
aaa authorization config-commands
aaa authorization commands 0 SSH group TACACS_GROUP if-authenticated
aaa authorization commands 15 SSH group TACACS_GROUP if-authenticated
aaa accounting exec SSH start-stop group TACACS_GROUP
aaa accounting commands 0 SSH start-stop group TACACS_GROUP
aaa accounting commands 15 SSH start-stop group TACACS_GROUP
