
!! A simple implementation to enable tacacs+ on cisco switches
!
aaa new-model
!
tacacs server TACACS-SRV
address ipv4 {{ TACACS_IP }}
key {{ SECRET }}
!
aaa group server tacacs+ TACACS_GROUP
server name TACACS-SRV
!
aaa authentication login SSH group TACACS_GROUP local
aaa authentication enable SSH group tacacs+ enable
aaa authorization config-commands
aaa authorization commands 0 SSH group TACACS_GROUP if-authenticated
aaa authorization commands 15 SSH group TACACS_GROUP if-authenticated
aaa accounting exec SSH start-stop group TACACS_GROUP
aaa accounting commands 0 SSH start-stop group TACACS_GROUP
aaa accounting commands 15 SSH start-stop group TACACS_GROUP
